{# ========================================================================== #
 # BigFish default login page template.                                       #
 #                                                                            #
 # @copyright Copyright (c) 2015 [MrAnchovy](http:/www.mranchovy.com)         #
 # @license   MIT                                                             #
 # ========================================================================== #}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

{# ---------------------------------------------------------- TITLE --------- #}
<title>{{- title|default('Missing title') -}}</title>

{% if description is defined and not empty %}{# ------------- DESCRIPTION --- #}
<meta name="description" content="{{- description -}}">
{% endif %}

{% if author is defined and not empty %}{# ------------------ AUTHOR -------- #}
<meta name="author" content="{{- author -}}">
{% endif %}

{% if favicon is defined and not empty %}{# ----------------- FAVICON ------- #}
<link rel="icon" href="{{ favicon }}">
{% endif %}

{# ---------------------------------------------------------- CSS ----------- #}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

<style>
	/* Move down content because we have a fixed navbar that is 50px tall */
	body {
		padding-top: 50px;
		padding-bottom: 20px;
	}
</style>

{# IE8 support of HTML5 elements and media queries #}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

{% block head %}{# ------------------------------------------ HEAD ---------- #}
{% endblock %}

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">

{% if user.id is defined and not empty %}
<button class="btn"><i class="fa fa-user fa-lg"></i> {{ user.name }}</button>
<button class="btn"><i class="fa fa-sign-out fa-lg"></i> Sign out</button>
{% else %}
				<form class="navbar-form navbar-right">
<div class="form-group">
	<input type="text" placeholder="Email" class="form-control">
</div>
<div class="form-group">
	<input type="password" placeholder="Password" class="form-control">
</div>
<button type="submit" class="btn btn-success"><i class="fa fa-sign-in fa-lg"></i> Sign in</button>
				</form>
{% endif %}

			</div><!--/.navbar-collapse -->
		</div>
	</nav>

{% if jumbotron is defined and not empty %}{# --------------- JUMBOTRON ----- #}
	<div class="jumbotron">
		<div class="container">
			{% block jumbotron %}{% endblock %}
		</div>
	</div>
{% endif %}

	<div class="container">

{% block pageContent %}{# ----------------------------------- CONTENT ------- #}
Content goes here
{% endblock %}

{# ---------------------------------------------------------- FOOTER -------- #}
		<hr>
		<footer>
			<p>Copyright &copy; 2015 BigFish</p>
		</footer>

	</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% block bottom %}{# ---------------------------------------- BOTTOM -------- #}
{% endblock %}

</body>
</html>
